* {
  font-family: "Roboto", "Open Sans", sans-serif;
}

:root {
  --demarches-color: #9b2fae;
  --informations-color: #30a64a;
  --reseaux-color: #fb5830;
}

.icon-grey {
  color: #eee;
}

.demarches-color {
  color: var(--demarches-color);
}

.informations-color {
  color: var(--informations-color);
}

.reseaux-color {
  color: var(--reseaux-color);
}

html,
body {
  height: 100%;
}

html {
  font-size: 100% !important;
}

#content {
  flex: 1 0 0;
  -ms-flex: 1 0 0;
  margin-top: auto;
}

a {
  color: black;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#footer {
  background-color: #f8f8f8;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin-top: 1em;
  border-top: 1px solid #ccc;
  color: #555;
  font-size: 0.9em;
  padding-top: 2em;
}

#footer-container {
  padding-top: 2em !important;
  padding-bottom: 3em !important;
}

#header {
  padding-bottom: 1em;
}

#splash-container {
  margin-top: 4em;
}

h1 > a {
  color: black !important;
}

#header-left {
  text-align: right;
}

#logo-header-left {
  font-size: 2em;
}

#title-header-left {
  margin: 1em 0 0em 0;
  font-size: 1.5em;
}

#header-right {
  margin-top: 1em;
  margin-right: 0;
  text-align: right;
}

.header-right-menu-item {
  margin-left: 0.5em !important;
  font-size: 1.1em;
}

.links-container-icon {
  font-size: 3em !important;
}

.links-container-icon-inner {
  text-align: "right" !important;
}

.links-container {
  margin-top: 2em !important;
}

.links-container-header {
  margin-bottom: 0em !important;
}

.links-container-body {
  text-align: center !important;
  margin-top: 1em !important;
}

.links-container-body > a {
  bottom: 0;
}

.links-container-image {
  max-height: 80px !important;
  width: auto !important;
  background-color: white !important;
  vertical-align: middle;
}

.image-centered-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ui.card > .demarches-encart-content {
  border-top: 4px solid var(--demarches-color) !important;
}

.ui.card > .informations-encart-content {
  border-top: 4px solid var(--informations-color) !important;
}

.ui.card > .reseaux-encart-content {
  border-top: 4px solid var(--reseaux-color) !important;
}

#search {
  background-color: #0b6ba8;
}

#search-container {
  padding-top: 2em !important;
  padding-bottom: 3em !important;
}

#search-text {
  color: white !important;
  padding-bottom: 0.3em !important;
  text-align: center !important;
}

#search-input {
  border-radius: 500rem !important;
}

#search-results-container {
  margin-top: 2em !important;
}

#search-results-list {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.search-results-list-item {
  margin-top: 0.3em !important;
}

.search-results-title {
  margin-bottom: 0.2em !important;
}

.search-results-title > a {
  color: black !important;
  font-size: 1.2em !important;
  font-style: "strong" !important;
}

#splash-form {
  text-align: center;
}

#marianne-logo {
  width: 60px;
  margin-top: 1em !important;
}

.big-icon {
  font-size: 2.5em !important;
  width: 100px !important;
}

.search-label {
  color: grey !important;
  font-size: small !important;
}

.outer-window {
  position: absolute;
  left: -99999rem;
}

.blank-icon {
  font-size: 2em !important;
  width: 100px !important;
}

section {
  padding-top: 1em;
  padding-bottom: 5em;
}

#demarches {
  background-color: white;
}

#informations {
  background-color: #f8f8f8;
}

#reseaux {
  background-color: white;
}

.links-container-header {
  font-size: 3em !important;
}

.ui.card {
  border: none !important;
}
